div.carousel{
    border-radius: 5px;
    height: 100%;
    padding: 20px;
}

div.carousel button {
    display: inline-block;
    vertical-align: middle;
    
    background-color: #0098ba;
    border-color: blue;
   
    border-width: 0;
}

.imageHolder {
    display: inline-block;
    width: 70%;
    overflow: hidden;
    left: 15%;
    right: 15%;
  
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.imageHolder img
{
    display: inline-block;
    /*padding: 10px;*/
}

carousel #single {
    display: block;
    
}

carousel #multi
{
    display: block;
    padding: 10px;
    background-color: #004e74;
}

.carousel .carouselNav {
    height: 40%;
    width: 40%;
    
    padding: 5px;
    border-style: solid;
    border-radius: 50%;
    border-color: #0098ba;
    background-color: #0098ba;

}

.carouselNav:hover
{
    transition: background-color .6s, border-color .6s, width .3s, height .3s;
    border-color: #004e74;
    background-color: #004e74;
    
    width: 45%;
    height: 45%;
}

.pageIndicator
{
    background-color: #004e74;
    z-index: 1;
    width: 100%;
    height: 30px;
    
    opacity: .7;
    
    position: relative;
    top: -34px; 
}

.dots
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.dot
{
    display: inline-block;
    
    border-style: solid;
    border-radius: 50%;
    border-color: #0098ba;
    background-color: #0098ba;
    
    height: 20px;
    width: 20px;
    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.dot#current
{
    border-color: white;
    background-color: white;
    
    transition: background-color 2s, border-color 2s;
}
