div.carousel{
    border-radius: 5px;
    height: 100%;
    padding: 20px;
}

div.carousel button {
    display: inline-block;
    vertical-align: middle;
    
    background-color: #0098ba;
    border-color: blue;
    width: 12%;
    border-width: 0;
}

.imageHolder {
    display: inline-block;
    width: 70%;
    overflow: hidden;
    left: 15%;
    right: 15%;
  
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.imageHolder img
{
    display: inline-block;
}

#test {
    display: block;
    
}

.carousel .carouselNav {
    height: 50%;
    width: 50%;
    border-style: none;
    border: 0;
    

}
