/* Filter */
.filterBar {
    width: 80%;
    display: block; 
}

.filter{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    background-color: lightblue;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.filter button{
    width: 100%;
}

#options
{
    display: none;
    width: 100%;
}