/* Hiding old header */
header #language-selector, header #logo-wrapper, header nav
{
    display: none;
}

header
{
    border: none;

    width: 100%;
     height: 75px;
    background-color: transparent;


}
.title span{
    width: 100%;
    height: 260px;
    padding-top: 100px;
    text-align: center;
    display: block;
    font-size: 120px;
}
@media only screen and (max-width: 600px){
    .title span{
             font-size: 80px;
    }
    

}

footer
{
    display: none;
}

/* new header */
header button
{
    height: 100px;
    width: 100px;
    
    border-radius: 50%;
    border: 5px;
    border-style: solid;
     border-color: black;
    
    float: right;
    
    position: relative;
    left: 20px;
    top: -30px;
    
    background-color: indianred;
}

header button img
{
    height: 70%;
    width: 70%;
}

header #backBtn img
{
    position: relative;
    top: 10px;
    left: -9px;
}

main
{
    height: calc(100% + 75px);
    top: -75px;
    width: 100%;
    background-image: url(../img/games/BusGame/background_BusGame-03.png);
    background-size: 100% 100%;
    background-repeat: repeat-x;
}
.Btn{
   margin-top:10%;
    display: inline-block;

}
.centered{
  text-align: center;
   
}
.imageContainer img{
    height: 100%;
    width: 100%;
}
.imageContainer{
     display: inline-block;
    text-align: center;
    height:130px;
    width: 130px;
    margin-right: 40px;
}

#pageContent{
    display: block;
    height : 40%;
    width: 70%;
    background-color: #d0edfb;
    border: solid 7px;
margin: 0 auto;
    border-color: #005291;
    border-radius: 10px;
    max-width: 900px;
  margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
    padding-top: 25px;
    padding-left: 15px;
   
    
    
}
#pageContentScore{
    display: block;
    height : 40%;
    width: 464px;
    background-color: #d0edfb;
    border: solid 7px;
margin: 0 auto;
    border-color: #005291;
    border-radius: 10px;
    max-width: 800px;
  margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100px;
    padding-top: 25px;
    padding-left: 15px;
    text-align: center;
   
    
    
}
@media only screen and (max-width: 900px){
    #pageContent{
             font-size: 65px;
    }


}
#bus{
 
    height: auto;
    width: 100%;
 
}
#busStop{
    width: 70%;
    margin-left:15%;
    margin-top: 10px;
}
/* Main Menu */


/* Core Game: header*/
header #score
{
    float: left;
    
    position: relative;
    left: -20px;
    top: -30px;
    
    font-size: 30px;
    text-align: center;
    color: white;
}

header #score span
{
    position: relative;
    top: 5px;
    left: 3px;
}

/* Core Game: lanes*/
.lane
{
    width: 100%;
    
    position: absolute;
    bottom: 0px;
    
    display: block;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

.lane .inner
{
    height: 300px;
    display: inline-block;
    position: relative;
}

#top
{
    bottom: 26%;
    
}

/* Core Game: vehicles*/
.vehicle
{
    display: inline-block;
    
    position: relative;
    bottom: 0;
    left: 0;
    
    margin-left: 5px;
    margin-right: 5px;
    
    
}

.vehicle img
{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.car
{
    
    width: 34vw;
    height: auto;
}

.car img
{
    position: relative;
    left: -15%;
    
    width: 140%;
    
}

#bottom .car img
{
    position: relative;
    left: -28%; 
}

.bus
{
    width: 60vw;
    height: auto;
}

.bus img
{
    height: 100%;
    width: 118%;
}

#bottom .bus img
{
    position: relative;
    left: -16%;
}

.bus .windows
{
    display: inline-block;
    height: 33%;
    width: 69%;
    
    position: absolute;
    z-index: 10;
}

#top .windows
{
    position: absolute;
    top: 26%;
    left: 30%;
}

#bottom .windows
{
    position: absolute;
    top: 26%;
    left: 6.6%; 
}

.bus .windows .window
{
    display: inline-block;
    
    width: calc((100% / 3) - 5%);
    height: calc(100% - 2px);
    margin-right: 2.8%;
    
    border: 1px;
    border-radius: 15px;
    
    background-color: #0098ba;
    
    transition: opacity .7s;
    
    float: left;
}

.bus .windows .window:hover
{
    opacity: 1;
}

.bus .windows .window.first
{
    width: calc((100% / 3) - 5%);
    height: calc(100% - 2px);
    margin-right: 4.2%;
}

.bus .windows .window.last
{
    width: calc((100% / 3) - 5%);
    height: calc(100% - 2px);
    margin-left: 1.4%;
}

.window span, .window video, .window div
{
    display: inline-block;
    height: calc(100%);
    width: calc(100%);
    
    border: 1px;
    border-radius: 15px;
    
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.window  span
{
    color: white;
    font-size: 50px;
    height: 100%;
    
    text-align: center;
    
    display: block;
}

.hidden
{
    opacity: 0;
}
