/* Hiding old header */
header #language-selector, header #logo-wrapper, header nav
{
    display: none;
}

header
{
    border: none;
    width: 100%;


}
span{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 100px;
}
@media only screen and (max-width: 600px){
    span{
             font-size: 80px;
    }

}

footer
{
    display: none;
}

/* new header */
header #backBtn
{
    height: 75px;
    width: 75px;
    
    border-radius: 50%;
    border: 1px;
    
    float: right;
}

header #backBtn img
{
    height: 100%;
    width: 100%;
}
#playBtn{
    display: inline-block;
}
.centered{
  text-align: center;
}


/* Main Menu */

/* Core Game */
