/* Hiding old header */
header #language-selector, header #logo-wrapper, header nav
{
    display: none;
}

header
{
    border: none;

    width: 100%;
     height: 75px;
    background-color: transparent;


}
.title span{
    width: 100%;
    height: 260px;
    padding-top: 100px;
    text-align: center;
    display: block;
    font-size: 120px;
}
@media only screen and (max-width: 600px){
    .title span{
             font-size: 80px;
    }
    

}

footer
{
    display: none;
}

/* new header */
header button
{
    height: 100px;
    width: 100px;
    
    border-radius: 50%;
    border: 5px;
    border-style: solid;
     border-color: black;
    
    float: right;
    
    position: relative;
    left: 20px;
    top: -30px;
    
    background-color: indianred;
}

header button img
{
    height: 70%;
    width: 70%;
}

header #backBtn img
{
    position: relative;
    top: 10px;
    left: -9px;
}

main
{
    height: calc(100% + 75px);
    top: -75px;
    width: 100%;
    background-image: url(../img/games/BusGame/background_BusGame-03.png);
    background-size: contain;
    background-repeat: repeat-x;
}
.Btn{
   margin-top:10%;
    display: inline-block;

}
.centered{
  text-align: center;
   
}
.imageContainer img{
    height: 100%;
    width: 100%;
}
.imageContainer{
     display: inline-block;
    text-align: center;
    height:130px;
    width: 130px;
    margin-right: 40px;
}

#pageContent{
    display: block;
    height : 40%;
    width: 70%;
    background-color: #d0edfb;
    border: solid 7px;
margin: 0 auto;
    border-color: #005291;
    border-radius: 10px;
    max-width: 900px;
  margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
    padding-top: 25px;
    padding-left: 15px;
   
    
    
}
#pageContentScore{
    display: block;
    height : 40%;
    width: 464px;
    background-color: #d0edfb;
    border: solid 7px;
margin: 0 auto;
    border-color: #005291;
    border-radius: 10px;
    max-width: 800px;
  margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100px;
    padding-top: 25px;
    padding-left: 15px;
    text-align: center;
   
    
    
}
@media only screen and (max-width: 900px){
    #pageContent{
             font-size: 65px;
    }


}
#bus{
 
    height: auto;
    width: 100%;
 
}
#busStop{
    width: 70%;
    margin-left:15%;
    margin-top: 10px;
}
/* Main Menu */


/* Core Game */
header #score
{
    float: left;
    
    position: relative;
    left: -20px;
    top: -30px;
    
    font-size: 30px;
    text-align: center;
    color: white;
}

header #score span
{
    position: relative;
    top: 5px;
    left: 3px;
}

.lane
{
    height: 500px;
    width: 100%;
    
    position: absolute;
    bottom: 0px;
    
    display: block;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

.lane .inner
{
    height: 500px;
    display: inline-block;
    vertical-align: bottom;
}

#top
{
    bottom: 26%;
    
}

.car
{
    display: inline-block;
    width: 600px;
    height: 250px;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
}

.car img
{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.bus
{
    display: inline-block;
    width: 1080px;
    height: 460px;
    position: relative;
    vertical-align: bottom;
    
    margin-left: 5px;
    margin-right: 5px;
}

.bus img
{
    display: inline-block;
    height: 100%;
    width: 100%;
}
