.custom-select{
    position: relative;
    display: inline-block;
}
.custom-select-value{
    position: relative;
    z-index: 1;
    width: 250px;
    height: 40px;
    margin: 0px 5px;

    color: #FFFFFF;
    background-color: #004E74;
    background-size: 30px 30px;
    background-position: left 10px center;
    background-repeat: no-repeat;
    font-size: 1.3em;
    padding: 5px 40px;
    text-align: center;
    border: none;
    border-radius: 40px;
    border: 2px solid #004E74;

}
.custom-select-value:hover{
    border-color: #FFFFFF;
}
.custom-select-value:after{
    content: '';

    position: absolute;
    top: 0px;
    right: 10px;

    height: 40px;
    width: 30px;

    background-image : url(../img/icons/General/icon_DropDnArrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.custom-select-options{
    position: absolute;
    display: none;
    left: 25px;
    top: calc(100% - 15px);
    width: calc(100% - 50px) !important;
    background-color: #A0EAF7;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5), 4px 0px 7px rgba(0,0,0,.5);
    padding: 5px 15px;
    padding-top: 20px;
    border-radius: 15px;
}
.custom-select-options > div{
    margin: 5px auto;
}
.custom-select-options button, .custom-select-options input, .custom-select-options label{
    font-size: 1.2em;
    text-align: left;
    color: #004E74;
}
.custom-select-options button{
    display: block;
    width: 100%;
    padding: 3px;
    background: none;
}
.custom-select-options button:hover{
    color: #FFFFFF;
    background-color: #004E74;
    font-weight: bold;
}

/* custom Selects with specific ids */
#written-language-select .custom-select-value{
    background-image: url('../img/icons/General/icon_WrittenLang_White.svg');
}
#sign-language-select .custom-select-value{
    background-image: url('../img/icons/General/icon_SignLang_White.svg');
}