#editor{
	position: relative;
	height: 100%;
	width: 100%;
}
.editor-nav-button, #editor-content{
	float: left;
	height: 100%;
}
.editor-nav-button{
	width: 5%;
	border: none;
	background-color: #0097BA;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
#editor-nav-previous{
	background-image: url('../img/icons/General/icon_Page_Back.svg')
}
#editor-nav-previous:not([disabled]):hover{
	background-image: url('../img/icons/General/icon_Page_Back_hoverDown.svg')
}
#editor-nav-previous:disabled{
	background-image: url('../img/icons/General/icon_Page_Back_inactive.svg')
}
#editor-nav-next{
	background-image: url('../img/icons/General/icon_Page_Next.svg')
}
#editor-nav-next:not([disabled]):hover{
	background-image: url('../img/icons/General/icon_Page_Next_hoverDown.svg')
}
#editor-nav-next:disabled{
	background-image: url('../img/icons/General/icon_Page_Next_inactive.svg')
}
#editor-content{
	position: relative;
	width: 90%;
	color: #004D75;
}
.editor-content-wrapper{
	position: relative;
	height: calc(100% - 55px);
	width: 100%;
}
.editor-content-wrapper h1{
	margin: 0px;
	padding: 15px 25px;
}
.editor-content-wrapper .main-content{
	height: calc(100% - 2em - 30px);
	padding: 25px;
	overflow: auto;
	overflow: overlay;
}
.editor-content-wrapper h2{
	margin: 0px;
	margin-bottom: 10px;
	font-size: 1.25em;
}
.editor-content-wrapper .half, 
.editor-content-wrapper .third, 
.editor-content-wrapper .two-thirds, 
.editor-content-wrapper .quarter, 
.editor-content-wrapper .three-quarters{
	float: left;
	width: calc(50% - 20px);
	margin: 10px;
}
.editor-content-wrapper .third{
	width: calc((100% / 3 ) - 20px);
}
.editor-content-wrapper .two-thirds{
	width: calc((100% * 2 / 3 ) - 20px);
}
.editor-content-wrapper .quarter{
	width: calc((100% / 4 ) - 20px);
}
.editor-content-wrapper .three-quarters{
	width: calc((100% * 3 / 4 ) - 20px);
}
#editor-content .save-button{
	position: absolute;
	top: calc(100% - 50px);
	left: 25%;
	height: 40px;
	width: 50%;
	color: #004D75;
	background-color: #FAAD16;
	border: 2px solid #004D75;
	border-radius: 20px;
	font-size: 1.25em;
}
#editor-content .save-button:hover{
	font-weight: bold;
}
#editor-content .save-button:disabled{
	display: none;
}

#editor-content .modal{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
}
#editor-content .add-text-button, #editor-content .add-page-button{
	width: 100%;
    padding: 5px 40px;
    background: none;
    margin: 5px 0px;
    color: #0097BA;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 10px 50%;

	border: 2px dotted #0097BA;
	border-radius: 10px;
	font-size: 2em;
	line-height: .5em;
	text-align: center;
}
#editor-content .add-page-button{
	padding: 5px;
	font-size: 1.5em;
	line-height: 1em;
	clear: right;
}
#editor-content .add-text-button:hover, #editor-content .add-page-button:hover{
    color: #004D75;
	border-color: #004D75;
}
.editor-content-wrapper label{
	font-size: 1.5em;
	color: #0097BA;
}
.editor-content-wrapper input, .editor-content-wrapper select, .editor-content-wrapper textarea{
	width: 100%;
	border: 2px solid #0097BA;
	border-radius: 5px;
	font-size: 1.2em;
	padding: 1px 2px;
}
.editor-content-wrapper textarea{
	resize: none;
	height: 200px;
	overflow: auto;
}
.editor-content-wrapper .quarter label{
	display: block;
	width: 100%;
	text-align: right;
}


.editor-content-wrapper button{
	width: 100%;
	padding: 5px 40px;
	background: none;
	text-align: left;
	margin: 5px 0px;
	color: #0097BA;
	font-size: 1em;
	border: 2px solid #0097BA;
	border-radius: 5px;
	font-size: 1.2em;
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 10px 50%;
}
.editor-content-wrapper button:hover{
	font-weight: bold;
	color: #004D75;
	border-color: #004D75;
}
.editor-content-wrapper button.add-button{
	border: none;
	background-image: url('../img/icons/General/icon_Add_LtBlue.svg');
}
.editor-content-wrapper button.add-button:hover{
	background-image: url('../img/icons/General/icon_Add_DkBlue.svg');
}
.editor-content-wrapper button.delete-button{
	border: none;
	background-image: url('../img/icons/General/icon_Delete_LtBlue.svg');
}
.editor-content-wrapper button.delete-button:hover{
	background-image: url('../img/icons/General/icon_Delete_DkBlue.svg');
}
.editor-content-wrapper .page-icon{
	padding-left: 1em;
    font-size: 1em;
    background-size: 1em;
    background-repeat: no-repeat;
}
.editor-content-wrapper .page-icon.added{
	background-image: url('../img/icons/StoryBuilder/icon_SB_Complete_LtBlue.svg');
}
.editor-content-wrapper .page-icon.missing{
	background-image: url('../img/icons/StoryBuilder/icon_SB_InComplete_LtBlue.svg');
}
#nav-search{
	margin-right: 65px;
}
.editor-content-wrapper .page-icon.o-missing{
	background-image: url('../img/icons/StoryBuilder/icon_SB_Optional_LtBlue.svg');
}
#language-select{
	font-size: 1.1em;
}

/* Language */
	.assign-language{
		font-size: 1.2em;
	}
	.selected-languages{
		background-color: #E2F8FC;
		border-radius: 15px;
		padding-bottom: 10px;
	}
	.selected-title{
		background-color: #075379;
		color: #FFFFFF;
		font-weight: bold;
		padding: 10px 40px;
		width: 100%;
		border-radius: 15px 15px 0px 0px;
		margin-bottom: 10px;
	}
	.language-button, .add-language-container{
		width: 100%;
		padding: 5px 40px;
		background: none;
		text-align: left;
		border: none;
		margin: 5px 0px;
		color: #0097BA;
		font-size: 1em;
		background-repeat: no-repeat;
		background-size: 1em;
		background-position: 10px 50%;
	}
	.language-button:hover{
		font-weight: bold;
		color: #004D75; 
	}
	.add-story-language{
		background-image: url('../img/icons/General/icon_Add_LtBlue.svg');
	}
	.add-story-language:hover{
		background-image: url('../img/icons/General/icon_Add_DkBlue.svg');
	}
	.delete-story-language{
		background-image: url('../img/icons/General/icon_Delete_LtBlue.svg');
	}
	.delete-story-language:hover{
		background-image: url('../img/icons/General/icon_Delete_DkBlue.svg');
	}
/************/

/* Cover */

	#cover-image-container{
		position: relative;
		min-height: 25%;

		background-color: #004E74;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cover-image-input-container{
	    position: absolute;
	    top: calc(100% + 10px);
	}
	#cover-image-input{
		display: none;
	}
	#cover-image-button{
		height: 40px;
		padding-left: 45px;
		vertical-align: middle;
		border-radius: 10px;
		border: none;
		background: none;
		background-repeat: no-repeat;
		background-image: url('../img/icons/General/icon_Upload.svg');
		color: #0097BA;
		font-size: 1.2em;
	}
	#cover-image-button:hover{
		background-image: url('../img/icons/General/icon_Upload_hoverDown.svg');
		color: #004D75;
		font-weight: bold
	}
/*********/

/* Metadata */
	#metadata-content .two-thirds .quarter{
		clear: left;
	}
	#metadata-content .two-thirds .three-quarters > *{
		width: 100%;
	}
/************/

/* Pages */
	#pages-content .main-content > div{
		height: 100%;
		position: relative;
	}
	#pages-content .quarter, #pages-content .three-quarters{
		margin: 0px;
	}
	#pages-content .quarter{
		width: calc(100% / 4);
	}
	#pages-content .three-quarters{
		width: calc(100% * 3 / 4);
	}
	#pages-content .page-nav .quarter{
		margin-right: 10px;
	}
	#pages-content .page-nav-button{
		padding: 5px;
		text-align: center;
		border: none;
		font-size: 1.2em;
		color: : #9EE9F6;
		background: #EBFAFD;
	}
	#pages-content .page-nav-button{
		height: 40px;
		color: #0097BA;
		background: #EBFAFD;		
		border-radius: 5px 5px 0px 0px;
		margin: 0px;
	}
	#pages-content .page-nav-button.active{
		color: #004E74;
		background: #9EE9F6;
		font-weight: bold;	
	}
	#page-legend{
		clear: left;
	}
	.page-nav{
		display: block;
		height: 40px;
	}
	#page-preview{
		height: calc(100% - 140px);
	}
	#page-legend{
		height: 100px;
		padding: 5px;
	}
	#page-edit-content{
		border: 15px solid #9EE9F6;
		padding: 10px 25px;
		border-radius: 0px 5px 5px 5px;
		height: calc(100% - 40px);
	}
/*********/