#logo-wrapper{
    position: absolute;
    top: 0px;
    left: 10px;

    height: 100%;
}
#logo{
	height: 100%;
	vertical-align: middle;
}
#logo a{
	height: 100%;
    display: block;
}
nav{
	position: absolute;
	bottom: 0px;
	width: 80%;
	left: 20%;
	padding: 3px 15px;
}
nav > div{
	position: relative;
	float: right;
	margin-left: 35px;
	height: 48px;
	width: 48px;
}
nav > div:not(#nav-search):not(.active):hover{
	top: 2px;
}
.nav-icon{
	display: block;
	height: 100%;
	width: 100%;
	border: none;
    background: none;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    -webkit-backface-visibility: hidden;
}
#nav-stories-icon{
	background-image: url('../../img/icons/NavBar/nav_stories.svg');
}
nav > div:not(#nav-search):not(.active):hover #nav-stories-icon{
	background-image: url('../../img/icons/NavBar/nav_stories_hoverDown.svg');
}
#nav-games-icon{
	background-image: url('../../img/icons/NavBar/nav_games.svg');
}
nav > div:not(#nav-search):not(.active):hover #nav-games-icon{
	background-image: url('../../img/icons/NavBar/nav_games_hoverDown.svg');
}
#nav-user-icon{
	background-image: url('../../img/icons/NavBar/nav_acct.svg');
}
nav > div:not(#nav-search):not(.active):hover #nav-user-icon, #nav-user-icon:focus{
	background-image: url('../../img/icons/NavBar/nav_acct_hoverDown.svg');
}
#nav-edit-icon{
	background-image: url('../../img/icons/NavBar/nav_SB.svg');
}
nav > div:not(#nav-search):not(.active):hover #nav-edit-icon{
	background-image: url('../../img/icons/NavBar/nav_SB_hover_selected.svg');
}
#nav-user-links{
	position: absolute;
	width: 100px;
	background-color: #004E74;
	left: 0px;
    /*border-radius: 0px 0px 15px 15px;*/
    padding: 5px;
    display: none;
	border: 3px solid #004E74;
	border-top: none;
	top: 100%;
}
#nav-user-links div{
	padding: 2px 5px;
}
#nav-user-links a{
	color: #FFFFFF;
}
#nav-user{
	margin-left: 25px;
	bottom: 0px;
	border-radius: 100%;
}
#nav-user:hover .nav-icon{
	bottom: 2px;
}
#nav-user:hover{
	bottom: 2px;
}
#nav-user:hover .nav-icon, #nav-user:focus .nav-icon{
	border-radius: 50% 50% 0px 0px;
}
.nav-icon:hover{
	bottom: 2px;
}
#nav-user:hover #nav-user-links, #nav-user-icon:focus + #nav-user-links{
	display: block;
}
#nav-search{
	margin-left: 25px;
	margin-right: 20px;
	width: 250px;
	bottom: 3px;
}
#nav-search form{
	height: 100%;
	width: 100%;
}
#nav-search #nav-serach-input, #nav-search #nav-submit-input{
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 30px;
	width: 35px;
}
#nav-search #nav-serach-input{
	width: 250px;
	border: 2px solid #0098BA;
	border-radius: 35px;
	padding: 5px 7px;
	padding-right: 41px;
}
#nav-search #nav-submit-input{
	position: absolute;
	background-color: #0098BA;
	background-image: url('../../img/icons/search.svg');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 40% 50%;
	border: none;
	border-radius: 0px 50% 50% 0px;
}

