*{
	box-sizing: border-box;	
}
html, body{
	margin: 0px;
	height: 100%;
	width: 100%;
}
header, footer, main{
	position: fixed;
	width: 100%;
}
header{
	height: 75px;
	background-color: #FFFFFF;
	top: 0px;
	padding: 15px;
	border-bottom: 3px solid #004E74;
}
main{
	height: calc(100% - 100px);
	overflow: auto;
	position: fixed;
	top: 75px;
}
footer{
	height: 25px;
	background-color: #F00000;
	bottom: 0px;
	padding: 5px 15px;
}

header #language-selector{
	position: absolute;
	top: 0px;
	right: 15px;
}

*[lang]:not(html){
	display: none;
}