*{
	box-sizing: border-box;	
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 2px 1px #004E74;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	box-shadow: inset 0px 0px 5px 2px #004E74;
}
html, body{
	margin: 0px;
	height: 100%;
	width: 100%;
}
header, footer, main{
	position: fixed;
	width: 100%;
}
header{
	height: 90px;
	background-color: #FFFFFF;
	top: 0px;
	box-shadow: 0px 4px 7px rgba(0,0,0,.5);
	
	z-index: 100;
}
main{
	height: calc(100% - 90px - 25px); /* 100% - headerHeight - footerHeight */
	overflow: auto;
	position: fixed;
	top: 90px;
}
footer{
	height: 25px;
	background-color: #0098ba;
	bottom: 0px;
	box-shadow: 0px -1px 2px 0px rgba(0,0,0,.5);
}

header #language-selector{
	position: absolute;
	top: 0px;
	right: 0px;
}
button{
	border: none;
}
button:hover{
	cursor: pointer;
}
button:focus {
  outline: none;
}

*[lang]:not(html){
	display: none;
}
.bold{
	font-weight: bold;
}
#sectionHead
{
    background-color: #a0eaf7;
    color: #004e74;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
#throbber{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
#throbber img{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.half, 
.third, 
.two-thirds, 
.quarter, 
.three-quarters,
.sixth{
	float: left;
	width: calc(50% - 20px);
	margin: 9.99px; /*doing this because IE tend send somethings to the next line when they shouldn't be*/
}
.third{
	width: calc((100% / 3 ) - 20px);
}
.two-thirds{
	width: calc((100% * 2 / 3 ) - 20px);
}
.quarter{
	width: calc((100% / 4 ) - 20px);
}
.three-quarters{
	width: calc((100% * 3 / 4 ) - 20px);
}
.sixth{
	width: calc((100% / 6 ) - 20px);
}
	
.offline footer{
	padding: 2px 10px;
	text-align: right;
	color: #FFFFFF;
}

@media screen and (max-width: 1024px), (max-height: 768px){
	body{
		font-size: 10pt;
	}
	header{
		height: 75px;
	}
	main{
		height: calc(100% - 75px - 25px); /* 100% - headerHeight - footerHeight */
		top: 75px;
	}
}

@media screen and (max-width: 800px){
	body, header, footer, main{
		position: absolute;
		min-width: 800px;
	}
}