*{
	box-sizing: border-box;	
}
html, body{
	margin: 0px;
	height: 100%;
	width: 100%;
}
header, footer, main{
	position: fixed;
	width: 100%;
}
header, footer{
	padding: 15px;
}
header{
	height: 75px;
	background-color: #ffffff;
	top: 0px;
}
main{
	height: calc(100% - 100px);
	overflow: auto;
	position: fixed;
	top: 75px;
}
footer{
	height: 25px;
	background-color: #0098ba;
	bottom: 0px;
}

#sectionHead
{
    background-color: #a0eaf7;
    color: #004e74;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}