#videos{
    width: 100%;
    height: calc(35% - 100px);
    background-color: green;
}
#hintBtnContainer{
    width: 100%;
    height: calc(10% - 100px);
    background-color: blue;
}
#sentence{
    width: 100%;
    height: calc(35% - 100px);
    background-color: yellow;
}
#flowerBed{
    width: 100%;
    height: calc(20% - 100px);
    background-color: red;
}

#drag
{
    position: absolute;
    height: 30px;
    width: 100px;
    background-color: black;
    opacity: .7;
}

.hidden
{
    display: none;
}