/* Hiding old header */
header #language-selector,
header #logo-wrapper,
header nav {
    display: none;
}

header {
    border: none;

    width: 100%;
    height: 75px;
    background-color: transparent;


}

.title span {
    width: 100%;
    height: 260px;
    padding-top: 100px;
    text-align: center;
    display: block;
    font-size: 120px;
    
    color: #0098ba;
    font-family: "Arial Rounded MT Bold";
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .title span {
        font-size: 80px;
    }


}

footer {
    display: none;
}

/* new header */
header button {
    height: 100px;
    width: 100px;

    float: right;
    
    background-color: transparent;
    border: none;
    
    background-image: url(../img/games/BusGame/Menu/backarrowframe.png);
    background-size: 100% 100%;
    
    font-family: "Arial Rounded MT Bold";

}

header button img {
    height: auto;
    width: 70%;
}

header #backBtn img {
    position: relative;
    top: -7px;
    left: 5px;
}

/* video section */
#videos{
    top: 75px;
    display: block;
    width: 100%;
   
    background-color:#00B092;
    vertical-align: middle;
   
}

#videoContainer{
   
     width: 100%;
    height: 100%;

}

#videos .media{
    position: relative;
    
    width: calc(90% / 3);
    display: inline-block;
    margin: 1.5%;
    vertical-align: middle;
    
    border-style: solid;
    border-width: 10px;
    border-radius: 7px;
    border-color: #00897C;

}
#videos video
{
    width: 100%;
    height: auto;
    vertical-align: middle;
    pointer-events: none;
}

#videos img
{
    position: absolute;
    top: 0;
    width: 70%;
    pointer-events: none;
}

/* hints */
#hintBtnContainer{
    
    width: 100%;
    height: calc(10%);
    background-color: white;
   
}
#hintBtnContainer button{
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 50px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    margin-top: 12px;
    
    
}

/* sentence */
#sentence{
 
    width: 100%;
    height: calc(35%);
    background-color: yellow;
}

#blank
{
    height: 30px;
    width: 100px;
    background-color: black;
    color: transparent;
    opacity: .7;
    
}

/* flower bed */
#flowerBed{
    
    width: 100%;
    height: calc(20%);
    background-color: red;
}

/* drag and drop */
#drag
{
    position: absolute;
    background-color: #00897C;
    
    pointer-events: none;
    
    border-style: solid;
    border-radius: 10px;
    border-color: #00897C;
    
    color: white;
    font-size: 30px;
    text-align: center;
    
    padding: 5px 10px;
}

.hidden
{
    display: none;
}

.media video.hidden
{
    display: inline-block;
    opacity: 0;
}

.media.selected
{
    background-color: #00897C;
    
    border-style: solid;
    border-width: 10px;
    border-radius: 7px;
    border-color: #005464 !important;
}


