.story-preview{
	position: relative;
	display: inline-block;
	float: left;
	width: calc(100% / 3);
	max-height: 100%;
	padding: 15px;
}
.story-preview .meta-data-container, .story-preview .cover-image-container{
	position: absolute;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	background-color: #004E74;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.story-preview .meta-data-container{
	display: none;
	background-color: #004E74F0;
	padding: 10px;
}
.story-preview .meta-data-container a{
    display: block;
	width: calc(100% - 35px);
	height: 100%;
	overflow: auto;
	color: #FFFFFF;
	text-decoration: none;
}
.story-preview:hover .meta-data-container{
	display: block;
}
.story-preview .info-button{
	display: none;
	position: absolute;
	z-index: 1;
	bottom: 10px;
	left: 10px;
}
.story-preview .title{
	font-size: 1.25em;
	margin-bottom: 5px;
}
.story-preview .author{
	font-size: .75em;
	margin-bottom: 5px;
}
.story-preview .description{
	font-size: 1em;
}
.story-preview .meta-data-container a.story-game-button{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	border: none;
    background: none;
    background-repeat: no-repeat;
	background-image: url('../../img/icons/NavBar/nav_games.svg');

}
.story-preview .meta-data-container a.story-delete-button{
	position: absolute;
	top: 5px;
	right: 10px;
	width: 35px;
	height: 35px;
	border: none;
    background: none;
    background-repeat: no-repeat;
	background-image: url('../img/icons/General/icon_Delete_Red.svg');
}
.story-preview .meta-data-container a.story-delete-button:hover{
	background-repeat: no-repeat;
	background-image: url('../img/icons/General/icon_Delete_White.svg');
}
.story-preview .meta-data-container a.story-game-button:hover{
	background-image: url('../../img/icons/NavBar/nav_games_hoverDown2.svg');
}
.meta-data-container #social{
	position: absolute;
	bottom: 7px;
}
.meta-data-container .social {
    margin: 5px 0px;
    margin-right: 5px;
    border-radius: 25px;
    border: 2px solid #0098BA;

    background-color: #FFFFFF;
    color: #0098BA;
    padding: 3px 10px;
    padding-left: 25px;
    padding-top: 2px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 5px center;
    font-size: .75em;

}

#social-views{
    background-image: url('/img/icons/SocialMedia/icon_SM_Views.svg');
}
#social-likes{
    background-image: url('/img/icons/SocialMedia/icon_SM_Likes.svg');
}
