body{
    font-family: "Segoe UI", "Segoe UI", Arial, Helvetica, sans-serif;
}
#new-stories{
	background-color: #0098BA;
	height: 400px;
}
#more-stories-title, #bookmarks-title{
    background-color: #A0EAF7;
    color: #004E74;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: -10px; 
}
#filter-bar{
	background-color: #A0EAF7;
}
#search-bar{
    padding: 25px 10% 10px;
    background-color: #A0EAF7;
}
#search-wrapper{
    position: relative;
    height: 50px;
    width: 80%
    margin: 0px auto;
}
#search-input, #search-submit{
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    border: 3px solid #004E74;
    border-radius: 25px;
}
#search-input{
    padding: 10px;
    padding-right: 85px; 
    font-size: 1.5em;
}
#search-submit{
    width: 75px;
    border-radius: 0px 25px 25px 0px;
    background-color: #004E74;
    background-image: url('../../img/icons/search.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 30% 50%;
    border: none;
    border-radius: 0px 50% 50% 0px;

}

#stories-header, #stories{
    width: 80%;
    margin: 0px auto;
}
#stories-header{
    padding: 5px 15px;
    font-size: 1.75em;
    color: #004E74;
}