.story-preview{
	position: relative;
	display: inline-block;
	float: left;
	width: calc(100% / 3);
	max-height: 100%;
	padding: 15px;
}
.story-preview .meta-data-container, .story-preview .cover-image-container{
	position: absolute;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	background-color: #004E74;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.story-preview .meta-data-container{
	display: none;
	background-color: #004E74F0;
	padding: 10px;
	color: #FFFFFF;
	overflow: auto;
}
.story-preview:hover .meta-data-container{
	display: block;
}
.story-preview .info-button{
	display: none;
	position: absolute;
	z-index: 1;
	bottom: 10px;
	left: 10px;
}
.story-preview .title{
	font-size: 1.25em;
	margin-bottom: 5px;
}
.story-preview .author{
	font-size: .75em;
	margin-bottom: 5px;
}
.story-preview .description{
	font-size: 1em;
}