#story-viewer{
	position: relative;
	height: 100%;
	width: 100%;
    padding-top: 5px;
    background-color: #004E74;
    color: #FFFFFF;
}
.story-viewer-nav, .story-viewer-page{
	transition: height, width .5s;
	-moz-transition: height, width .5s;
	-webkit-transition: height, width .5s;
	-ms-transition: height, width .5s;
}
#page-counter{
	height: 50px;
	margin: 5px;
	text-align: center;

	background-image: url(../img/icons/StoryViewer/bkgd_pageCounter.svg);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#page-counter span{
	font-size: 35px;
	font-weight: bold;
	width: 100px;
    display: inline-block;
}
#page-counter #current{
	color: #0098BA;
}
#page-counter #total{
	color: #004E75;
}

#page-content{
	height: calc(100% - 120px);
}
#page-content > div{
	height: calc(100% - 20px);
	position: relative;
}
.story-viewer-nav-button{
	height: 100%;
	width: 100%;
	padding: 0px;

    background: no-repeat;
    border: none;
    color: #0098BA;

	background-repeat: no-repeat;
	background-position: 50px center;
	background-size: 25px 45px;
	text-align: left;
}
.story-viewer-nav-button > div{
	font-size: 40px;
	height: 50px;

	background-repeat: no-repeat;
	background-position: left center;
	background-size: 45px 45px;

}
.story-viewer-nav-button .num{
	position: absolute;
	width: 100%;
}
.story-viewer-nav-button .icon.image{
	background-image: url(../img/icons/StoryViewer/icon_SV_Page_Image.svg);
}
.story-viewer-nav-button .icon.sign{
	background-image: url(../img/icons/StoryViewer/icon_SV_Page_SignLang.svg);
}
.story-viewer-nav-button:hover{
	color: #FFFFFF;
	font-weight: bold;
	background-size: 30px 50px;
}
.story-viewer-nav-button:hover .icon{
	background-size: 50px 50px;
}
.story-viewer-nav-button:hover .icon.image{
	background-image: url(../img/icons/StoryViewer/icon_SV_Page_Image_HoverDown.svg);
}
.story-viewer-nav-button:hover .icon.sign{
	background-image: url(../img/icons/StoryViewer/icon_SV_Page_SignLang_HoverDown.svg);
}

#story-viewer-next{
	background-image: url(../img/icons/General/icon_Page_Next.svg);
}
#story-viewer-previous{
	background-image: url(../img/icons/General/icon_Page_Back.svg);
	text-align: right;
	background-position: right 50px center;
}
#story-viewer-previous > div{
	background-position: right center;
}

.story-viewer-page{
	background-color: #002E45;
	overflow: hidden;
}
#page-overlay{
	position: absolute;
	width: 100%;
	height: 40px;
	text-align: center;
	z-index: 1;

    opacity: .7;
    background-color: #002e45;
    text-align: center;
}
.image-container{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.image-container img{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	max-height: 100%;
	max-width: 100%;
}
.video-container{
	height: calc(100% - 40px);
	position: relative;
	overflow: hidden;
	padding: 5px;

	transition: height .5s;
	-moz-transition: height .5s;
	-webkit-transition: height .5s;
	-ms-transition: height .5s;
}
.video-container video{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

    max-height: calc(100% - 10px);
    max-width: calc(100% - 10px);
}
.video-container.text-open{
	height: calc(60% - 40px);
}
#text-toggle-container{
	height: 40px;
}
#text-toggle {
    display: block;
    height: 40px;
    width: 40px;
    margin: 0px auto;

    background: none;
	background-image: url(../img/icons/StoryViewer/icon_SV_HideText.svg);
}
#text-toggle:hover{
	background-image: url(../img/icons/StoryViewer/icon_SV_HideTex_HoverDown.svg);
}
#text-toggle-container.text-open #text-toggle{
	background-image: url(../img/icons/StoryViewer/icon_SV_ShowText.svg);
}
#text-toggle-container.text-open #text-toggle:hover{
	background-image: url(../img/icons/StoryViewer/icon_SV_ShowText_HoverDown.svg);
}
#text-container{
	height: 0px;
	overflow: hidden;
	padding: 15px 50px;
	background-color: #0098ba;
	font-size: 1.5em;

	transition: height .5s;
	-moz-transition: height .5s;
	-webkit-transition: height .5s;
	-ms-transition: height .5s;
}
#text-container.text-open{
	height: 40%;
	overflow: auto;
}
#page-controller{
	height: 60px;
	padding: 5px;
	text-align: center;
	background-color: #0098BA;
	box-shadow: inset 0px 4px 7px rgba(0,78,117,0.7);
}
#fullscreen-toggle{
	position: absolute;
	height: 40px;
	width: 40px;

	right: 10px;
	bottom: 10px;
	border: none;
	background: none;
	background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen.svg);
}
#fullscreen-toggle:hover{
	background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_HoverDown.svg);

}

#story-viewer:fullscreen #fullscreen-toggle{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse.svg);}
#story-viewer:fullscreen #fullscreen-toggle:hover{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse_HoverDown.svg);}
#story-viewer:fullscreen .story-viewer-nav{width: 80px;}
#story-viewer:fullscreen .story-viewer-page{width: calc(100% - 220px);}
#story-viewer:fullscreen .custom-select-options{padding-top: 5px; padding-bottom: 20px; top:initial; bottom: calc(100% - 15px);}

#story-viewer:full-screen #fullscreen-toggle{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse.svg);}
#story-viewer:full-screen #fullscreen-toggle:hover{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse_HoverDown.svg);}
#story-viewer:full-screen .story-viewer-nav{width: 80px;}
#story-viewer:full-screen .story-viewer-page{width: calc(100% - 220px);}
#story-viewer:full-screen .custom-select-options{padding-top: 5px; padding-bottom: 20px; top:initial; bottom: calc(100% - 15px);}

#story-viewer:-webkit-full-screen #fullscreen-toggle{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse.svg);}
#story-viewer:-webkit-full-screen #fullscreen-toggle:hover{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse_HoverDown.svg);}
#story-viewer:-webkit-full-screen .story-viewer-nav{width: 80px;}
#story-viewer:-webkit-full-screen .story-viewer-page{width: calc(100% - 220px);}
#story-viewer:-webkit-full-screen .custom-select-options{padding-top: 5px; padding-bottom: 20px; top:initial; bottom: calc(100% - 15px);}

#story-viewer:-moz-full-screen #fullscreen-toggle{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse.svg);}
#story-viewer:-moz-full-screen #fullscreen-toggle:hover{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse_HoverDown.svg);}
#story-viewer:-moz-full-screen .story-viewer-nav{width: 80px;}
#story-viewer:-moz-full-screen .story-viewer-page{width: calc(100% - 220px);}
#story-viewer:-moz-full-screen .custom-select-options{padding-top: 5px; padding-bottom: 20px; top:initial; bottom: calc(100% - 15px);}

#story-viewer:ms-fullscreen #fullscreen-toggle{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse.svg);}
#story-viewer:ms-fullscreen #fullscreen-toggle:hover{background-image: url(../img/icons/StoryViewer/icon_SV_Fullscreen_Reverse_HoverDown.svg);}
#story-viewer:ms-fullscreen .story-viewer-nav{width: 80px;}
#story-viewer:ms-fullscreen .story-viewer-page{width: calc(100% - 220px);}
#story-viewer:ms-fullscreen .custom-select-options{padding-top: 5px; padding-bottom: 20px; top:initial; bottom: calc(100% - 15px);}


.glossary
{
	cursor: default;
    position: relative;
    
    background-color: #004e74;
    border-color: #004e74;
    border-style: solid;
    border-radius: 15px;  
    transition: border-color .5s;
	-moz-transition: border-color .5s;
	-webkit-transition: border-color .5s;
	-ms-transition: border-color .5s;
    border-width: 2px;
    padding: 5px;
    padding-top: 0px;
}

.glossary:hover
{
    border-color: white;
}

#glossary-modal{
	position: fixed;
	top: 0px;
	left: 0px;

	height: 100%;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

#term-container{
	position: absolute;
	top: 12.5%;
	left: 12.5%;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 10px;
    width: 75%;
    height: 75%;
}
#term-container > div {
	height: calc(100% - 20px);
}
#media-container > div {
	height: calc(50% - 10px);
    background-color: #004E74;
    border-radius: 10px;
}
#media-container > div + div{
	margin-top: 20px;
}
#definition-container{
	background-color: #A0EAF7;
	border-radius: 10px;
	color: #004E74;
	padding: 10px 25px;
	font-size: 1.25em;
}

#exit-modal{
    position: absolute;
    width: 50px;
    height: 50px;
    background: none;
    background-image: url('../img/icons/General/icon_Close.svg');
    right: 10px;
}
#exit-modal:hover{
    background-image: url('../img/icons/General/icon_Close_hoverDown.svg');
}

.custom-select .custom-select-value{
	    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 10px center;
}
#written-language-select .custom-select-value{
    background-image: url('../img/icons/General/icon_WrittenLang_White.svg');
}
#sign-language-select .custom-select-value{
    background-image: url('../img/icons/General/icon_SignLang_White.svg');
}