#grid-buttons{
	position: absolute;
	bottom: 5px;
	right: 0px;
}
.grid-button{
	border-radius: 50%;
	background-color: #A1EBF3;
	border: none;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	font-weight: bold;
	font-size: 1.3em;
	color: #004e74;
}
.grid-button-selected{
	background-color: #004E75;
	position: relative;
	border: none;
	color: white;
}
#grid-next-button{
	border-radius: 50%;
	margin-left: 20px;
	padding: 7px;
	border: none;
	height: 27px;
	width: 18px;
	background: transparent url('../img/icons/General/icon_Page_Next_hoverDown.svg') no-repeat center;
}
#grid-next-button:active{
	background: transparent url('../img/icons/General/icon_Page_Next_Grid_hoverDown.svg') no-repeat center;
}
#grid-prev-button{
	border-radius: 50%;
	background-color: #A1EBF3;
	margin-right: 15px;
	padding: 7px;
	visibility: hidden;
	border: none;
	height: 27px;
	width: 18px;
	background: transparent url('../img/icons/General/icon_Page_Back_hoverDown.svg') no-repeat center;
}
#grid-prev-button:active{
	background: transparent url('../img/icons/General/icon_Page_Back_Grid_hoverDown.svg') no-repeat center;
}
.grid-page{
	position: absolute;
	animation-duration: .75s;
	width: 100%;
	opacity: 1;
	animation-fill-mode: forwards;

	animation-timing-function:linear;
	animation-delay:0s;
	animation-fill-mode:forwards;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode: forwards;
	display: inline-block;
}

#stories{
	overflow: hidden;
	overflow-x: hidden;
	position: relative;
	width: 80%; 
	margin: 10px auto;
}

@keyframes gridLeftFadeOut {
	0% {opacity: 1; transform: translateX(0);}
	100% {opacity: 0;  transform: translateX(-100vw); }
}

@keyframes gridLeftFadeIn {
	0% {opacity: 0; transform: translateX(100vw);}
	100% {opacity: 1; transform: translateX(0); }
}

@keyframes gridRightFadeOut {
	0% {opacity: 1;transform: translateX(0);}
	100% {opacity: 0; transform: translateX(100vw); }
}

@keyframes gridRightFadeIn {
	0% {opacity: 0; transform: translateX(-100vw);}
	100% {opacity: 1; transform: translateX(0); }
}