#viewer {
    width: 100%;
    height: 80%;
}
#details {
    width: 50%;
    margin: 45px auto 25px;
    text-align: left;
}
#title {
    margin: 0px 0px;
    font-size: 1.8em;
}
.storyCredits{
    margin: 5px 0px;
    margin-top: 0px;
    margin-right: 15px;
    font-size: 1.1em;
}
#storyCredits{
    margin-bottom: 5px;
}
.social {
    margin: 0px 0px;
    margin-right: 10px;
    border-radius: 25px;
    border: 2px solid #0098BA;

    background-color: #FFFFFF;
    color: #0098BA;
    padding: 4px 10px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 5px center;
}
.socialExport {
    color: #FFFFFF;
    background-color: #0098BA;
    border-color: #0098BA;

    width: 110px;
}
#social-views{
    background-image: url('/img/icons/SocialMedia/icon_SM_Views.svg');
}
#social-likes{
    background-image: url('/img/icons/SocialMedia/icon_SM_Likes.svg');
}
#social-save{
    background-image: url('/img/icons/SocialMedia/icon_SM_Save.svg');
}
#social-share{
    background-image: url('/img/icons/SocialMedia/icon_SM_Share.svg');
}
#description{
    margin: 10px 0px;
}
.metadata-list{
    margin: 5px 0px;
    color: #004E75;
}
.metadata-list a, .metadata-list span span{
    display: inline-block;
    border-radius: 25px;
    background-color: #004E75;
    padding: 5px 10px;
    font-size: 1em;
    color: #FFFFFF;
    text-decoration: none;
}
.metadata-list a:hover{
    text-decoration: underline;
}
.category {
    border-style: solid;
    border-radius: 25px;
    border: 2px;
    border-color: #004e74;
    border-style: solid;
    text-align: center;
    padding-right: 10px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: #004e74;
    display: inline-block;
    color: white;
}

#more-stories .dot {
    height: 15px;
    width: 15px;
}
#more-author .dot{
    height: 15px;
    width: 15px;
}
#more-stories, #more-author {
    height: 25%;
}
.carousel-nav-img{
    width: 45px !important;
}
.carousel-nav.right .carousel-nav-img{
    margin-left: -65% !important;
}
.carousel-nav.left .carousel-nav-img{
    margin-left: 65% !important;
}
.image-holder .pageTitle{
    text-align: left;
    height: 35px !important;
    padding-bottom: 5px;
    padding-top: 2px !important;
    font-size: 1.4em;
}
#offline-stories-title{
    height: 50px;
    padding: 10px;
    background-color: #0098ba;
    text-align: center;
    font-size: 1.5em;
    color: #FFFFFF;
}
#offline-stories{
    height: calc(100% - 50px);
}
#offline-stories.empty{
    padding: 25px;
}