
<div id="top" class="lane">
    <div class="inner">
        <div class="vehicle car"><img src="<%= Top.Car.Frames[Top.Car.Current].src  %>"></div>
        <div class="vehicle bus">
            <img class="vImg" src="<%= Top.Bus.Frames[Top.Bus.Current].src %>">
            <div class="windows">
                <div class="window hidden first">
                    <img class="glass" src = "../../img/games/BusGame/WindowAnimation/Frames/Window%20Animation_00000.png">
                    <%= Top.Windows[0] %>
                </div>
                <div class="window hidden">
                    <img class="glass" src = "../../img/games/BusGame/WindowAnimation/Frames/Window%20Animation_00000.png">
                    <%= Top.Windows[1] %>
                </div>
                <div class="window hidden">
                    <img class="glass" src = "../../img/games/BusGame/WindowAnimation/Frames/Window%20Animation_00000.png">
                    <%= Top.Windows[2] %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bottom" class="lane">
    <div class="inner">
        <div class="vehicle bus">
            <img class="vImg" src="<%= Bottom.Bus.Frames[Bottom.Bus.Current].src %>">
            <div class="windows">
                <div class="window hidden">
                    <img class="glass" src = "../../img/games/BusGame/WindowAnimation/Frames/Window%20Animation_00000.png">
                    <%= Bottom.Windows[0] %>
                </div>
                <div class="window hidden">
                    <img class="glass" src = "../../img/games/BusGame/WindowAnimation/Frames/Window%20Animation_00000.png">
                    <%= Bottom.Windows[1] %>
                </div>
                <div class="window hidden last">
                    <img class="glass" src = "../../img/games/BusGame/WindowAnimation/Frames/Window%20Animation_00000.png">
                    <%= Bottom.Windows[2] %>
                </div>
            </div>
        </div>
        <div class="vehicle car"><img src="<%= Bottom.Car.Frames[Bottom.Car.Current].src %>"></div>
    </div>
</div>
