<div id="<%- id %>" class="story-preview">
	<div class="cover-image-container" style="background-image: url(<%- story.coverimage %>)">
		<button class="info-button">i</button>
	</div>

	<div class="meta-data-container">
		<a href="./<%- launchToEditor ? 'Editor' : 'View' %>?id=<%- story.id %>">
			<% _.each(story.metadata.title, function(title, lang){ %>
				<div class="title" lang="<%- lang %>"><%- title %></div>
			<% }) %>
			<div class="author"><%- story.author %></div>
			<% _.each(story.metadata.description, function(description, lang){ %>
				<div class="description" lang="<%- lang %>"><%- description %></div>
			<% }) %>
		</a>
		<div id="social">
			<button id="social-views" class="social">Views: <span id="views"><%- story.metadata.views %></span></button>
			<button id="social-likes" class="social">Likes: <span id="likes"><%- story.metadata.likes %></span></button>
		</div>
		<% if(user){ %>
			<a class="story-delete-button" href="./StoryDelete?storyId=<%- story.id %>" onclick="return confirm('Are you sure you want to delete this Story?')"></a>
		<% }%>
		<% if(online){ %>
			<a class="story-game-button" href="./Games?storyId=<%- story.id %>"></a>
		<% } %>
	</div>
</div>