<div id="<%- id %>" class="story-preview">
	<div class="cover-image-container" style="background-image: url(<%- story.coverimage %>)">
		<button class="info-button">i</button>
	</div>

	<div class="meta-data-container">
		<a href="./<%- launchToEditor ? 'Editor' : 'View' %>?id=<%- story.id %>">
			<% _.each(story.metadata.title, function(title, lang){ %>
				<div class="title" lang="<%- lang %>"><%- title %></div>
			<% }) %>
			<div class="author"><%- story.author %></div>
			<% _.each(story.metadata.description, function(description, lang){ %>
				<div class="description" lang="<%- lang %>"><%- description %></div>
			<% }) %>
		</a>
		<a class="story-game-button" href="./Games?storyId=<%- story.id %>"></a>
	</div>
</div>