#bus-game-editor{
	padding: 25px;
	color: #075379;
}
.title{
	font-size: 1.5em;
}
#languages{
	font-size: 1.25em;
	margin-bottom: 25px;
}
#game-header .title{
	margin-right: 25px;
}
.language{
	margin: 5px;
	margin-left: 0px;

	padding-left: 35px;

	background-size:  30px 30px;
	background-repeat: no-repeat;
	background-position: left center;
}
.written-language{
	background-image: url(/img/icons/General/icon_WrittenLang_DkBlue.svg)
}
.sign-language{
	background-image: url(/img/icons/General/icon_SignLang_DkBlue.svg)
}
.title{
	font-size: 1.5em;
}
#name-input{
	width: 50%;
}
#name{
	margin-bottom: 10px;
}