<div id="edit-glossary">
	<% var currentGlossaryTermData = page.glossary && page.glossary[currentWrittenLanguage] && page.glossary && page.glossary[currentWrittenLanguage][currentGlossaryTerm] ? page.glossary[currentWrittenLanguage][currentGlossaryTerm] : {} %>
	<div id="written-select-container" class="quarter">
		<h2>Written Language</h2>
		<div id="written-select">
			<% _.each(story.metadata.writtenLanguages, function(language){ %>
				<div><button class="language-select-button <%- language == currentWrittenLanguage ? 'active' : '' %>" lang-type="written"><%- language %></button></div>
			<% }) %>
		</div>
	</div>
	<div id="text-edit" class="three-quarters">
		<div>
			<div id="term-select-container" class="third">
				<h2>Glossary Term</h2>
				<div id="term-select">
					<% if(page.glossary && page.glossary[currentWrittenLanguage]){
						_.each(page.glossary[currentWrittenLangauge], function(termData, term){ 
							if(!currentGlossaryTerm || currentGlossaryTerm == '') currentGlossaryTerm = term;
					%>
							<div class="term <%- currentGlossaryTerm == term ? 'active' : '' %>" term-name="<%- term %>">
								<button class="term-delete-button delete-button" term-name="<%- term %>"></button>
								<button class="term-button" term-name="<%- term %>"><%- term %></button>
							</div>
						<% });
					} %>
					<button id="term-add-button" class="add-text-button">+</button>
				</div>
			</div>
			<div class="third">
				<textarea id="term-definition-input"><%= currentGlossaryTermData.definition %></textarea>
			</div>
			<div class="third">
				<div id="glossary-image-container" class="cover-image-container" style="background-image: url(<%- currentGlossaryTermData.image ? currentGlossaryTermData.image : './img/icons/StoryBuilder/icon_SB_ImagePlaceholder.svg' %>);">
					<div id="glossary-image-input-container" class="upload-input-container">
						<input id="glossary-image-input" class="upload-input" type="file" name="coverimage" accept="image/*">
						<button id="glossary-image-button" class="upload-button">Upload image</button>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="third">
				<h2>Sign Language</h2>
				<div id="sign-select">
					<% _.each(story.metadata.signLanguages, function(language){ 
						if(!page.video || !page.video[language]) return;
					%>
						<div><button class="language-select-button <%- language == currentSignLanguage ? 'active' : '' %> <%- currentGlossaryTermData.video && currentGlossaryTermData.video[language] ? 'added' : '' %>" lang-type="sign"><%- language %></button></div>
					<% }) %>
				</div>
			</div>
			<div class="third">
				<div id="glossary-video-container">
					<video id="glossary-video-player" autoplay muted loop src="<%- page.video ? page.video[currentSignLanguage] : '' %>"></video>
					<div id="glossary-video-controller">
						<div class="selected-track"></div>
						<div class="start-knob"></div>
						<div class="end-knob"></div>
					</div>
				</div>
			</div>
			<div class="third">
			</div>
		</div>
	</div>

</div>