<div class="page-preview-container">
	<button class="page-preview" page-index="<%- pageIndex %>">
		<div class="half">
			<div class="cover-image-container" style="background-image: url(<%- page.image ? page.image : './img/icons/StoryBuilder/icon_SB_ImagePlaceholder.svg' %>);">
				<div class="page-number"><%- pageIndex + 1 %></div>
			</div>
		</div>
		<div class="half">
			<%
				var hasWritten, hasSign, hasGlossary;
				_.each(page.text, function(){
					hasWritten = true;
				});
				_.each(page.video, function(){
					hasSign = true;
				});
				_.each(page.glossary, function(langArray){
					_.each(langArray, function(){
						hasGlossary = true;
					});
				});
			%>
			<div class="page-icon <%- hasWritten ? 'added' : 'missing' %>">written</div>
			<div class="page-icon <%- hasSign ? 'added' : 'missing' %>">sign</div>
			<div class="page-icon <%- hasGlossary ? 'added' : 'o-missing' %>">glossary</div>
		</div>
	</button>
	<% if(includeDelete){ %>
		<button class="page-delete-button delete-button" page-index="<%- pageIndex %>"></button>
	<% } else { %>
		<button class="edit-button"></button>
		<div class="preview-breakdown">
			<div class="bold">Written</div>
			<% _.each(page.text, function(text, lang){ %>
				<div><%- lang %></div>
			<% }) %>
			<div class="bold">Sign</div>
			<% _.each(page.video, function(vid, lang){ %>
				<div><%- lang %></div>
			<% }) %>
		</div>
	<% } %>
</div>